# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod.c
*.mod.o
*.ko.cmd
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Exception: Don't ignore Go module files
!go.mod
!go.sum

# debug information files
*.dwo

# Artefacts
build/
build_clang/
build_gcc/
build_*/
build_afl
build-*
run_fuzz.sh
fuzz_input
fuzz_output
fuzz_output_multicore
fuzz_results
build_afl.sh
tests/dict.txt
continuous_fuzz.sh
cppcheck_output/
compiler_comparison_results.txt
packages/
build-pkg*

# CodeQL
.codeql-databases/
.codeql-results/
*.sarif
